<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>한컴타자 백오피스 -모니터링-비속어관리</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/themify-icons.css">
    <link rel="stylesheet" href="../css/metisMenu.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/slicknav.min.css">

    <!-- style css -->
    <link rel="stylesheet" href="../css/typography.css">
    <link rel="stylesheet" href="../css/default-css.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <!-- modernizr css -->
    <script src="../js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href=""><img src="../imgs/ad_logo.png" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-dashboard"></i><span>서비스관리</span></a>
                                <ul class="collapse">
                                    <li><a href="">메인콘텐츠관리</a></li>
                                    <li><a href="">공지사항</a></li>
                                    <li><a href="">이벤트</a></li>
                                    <li><a href="">랭킹</a></li>
                                    <li><a href="">클랜</a></li>
                                    <li><a href="">자유게시판</a></li>
                                    <li><a href="">고객센터</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-layout-sidebar-left"></i><span>콘텐츠관리 </span></a>
                                <ul class="collapse">
                                  <li><a href="">타자연습</a></li>
                                  <li><a href="">두더지게임</a></li>
                                  <li><a href="">동전쌓기</a></li>
                                  <li><a href="">판뒤집기</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-pie-chart"></i><span>광고관리</span></a>
                                <ul class="collapse">
                                  <li><a href="">광고관리</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-palette"></i><span>회원관리</span></a>
                                <ul class="collapse">
                                  <li><a href="">회원관리</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-slice"></i><span>포인트</span></a>
                                <ul class="collapse">
                                  <li><a href="">포인트</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-table"></i><span>푸시알림</span></a>
                                <ul class="collapse">
                                  <li><a href="">푸시이력</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-layers-alt"></i> <span>관리자관리</span></a>
                                <ul class="collapse">
                                  <li><a href="">관리자관리</a></li>
                                </ul>
                            </li>
                            <li class="active">
                                <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-exclamation-triangle"></i><span>모니터링</span></a>
                                <ul class="collapse">
                                  <li class="active"><a href="">비속어목록</a></li>
                                  <li><a href="">오류로그</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-align-left"></i> <span>통계</span></a>
                                <ul class="collapse">
                                  <li><a href="">웹통계</a></li>
                                  <li><a href="">타자연습</a></li>
                                  <li><a href="">게임</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <i class="ti-face-smile"></i> 관리자1님 안녕하세요.
                    </div>
                    <!-- profile info & task notification -->
                    <div class="col-md-6 col-sm-4 clearfix">
                        <ul class="notification-area pull-right">
                            <li>
                                <i class="ti-lock"></i> 로그아웃
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="favor-zone">
              <ul>
                <li class="favor-tit"><i class="ti-star"></i> 즐겨찾기</li>
                <li class="favor-tab"><a href="">즐겨찾기1 <i class="ti-close"></i></a></li>
                <li class="favor-tab"><a href="">즐겨찾기2 <i class="ti-close"></i></a></li>
              </ul>
            </div>
            <!-- header area end -->

            <div class="main-content-inner">
              <!-- page title area start -->
              <div class="page-title-area">
                  <div class="row align-items-center">
                      <div class="col-sm-12">
                          <div class="breadcrumbs-area clearfix">
                              <h2 class="page-title pull-left">비속어관리</h2>
                              <ul class="tit-btn pull-left">
                                  <li><a href="" class="bookmk"><i class="ti-bookmark"></i> 즐겨찾기 추가</a></li>
                                  <li><a href=""><i class="ti-new-window"></i> 새창보기</a></li>
                              </ul>
                              <ul class="breadcrumbs pull-right">
                                  <li><a href="index.html"><i class="ti-location-pin"></i> 로그인</a></li>
                                  <li><a href="index.html">모니터링</a></li>
                                  <li><span>비속어관리</span></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- page title area end -->
              <!-- search area start -->
              <div class="spage-title-area">
                  <div class="row align-items-center">
                      <div class="col-sm-12">
                          <div class="breadcrumbs-area clearfix">
                              <h4 class="spage-title pull-left"><i class="ti-control-play"></i> 비속어관리</h4>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="data-tables">
                <div class="tablewrap2">
                  <table class="tbsty02 text-center">
                    <colgroup>
                      <col width="150">
                      <col width="*">
                    </colgroup>
                      <tbody>
                        <tr>
                          <th>검색조건</th>
                          <td class="text-left">
                            <div class="form-row align-items-center">

                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="" placeholder="">
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-warning">검색</button>
                                </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                  </table>
                </div>
              </div>

              <!-- search area end -->
                <div class="row">
                    <!-- data table start -->
                    <div class="col-12 mt-5">
                        <div class="data-tables">
                          <div class="row">
                            <div class="col-md-6 pull-left">
                              전체 : <span class="fc_y">300</span>
                            </div>
                            <div class="col-md-6">
                              <select class="custom-select custom-select-sm form-control form-control-sm  pull-right" style="width:100px;">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                              </select>
                            </div>
                          </div>
                          <div class="tablewrap mt-2">
                            <table class="tbsty01 text-center">
                              <colgroup>
                                <col width="50">
                                <col width="150">
                                <col width="*">
                              </colgroup>
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" ></th>
                                        <th><span>No <i class="ti-exchange-vertical"></i></span></th>
                                        <th><span>단어 <i class="ti-exchange-vertical"></i></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="checkbox" ></td>
                                        <td>1</td>
                                        <td>비속어~~</td>
                                    </tr>
                                </tbody>
                            </table>
                          </div>
                          <div class="mt-1 text-left">
                            <button type="submit" class="btn btn-sm btn-flat btn-outline-success pull-left">선택항목삭제</button> 
                          </div>
                          <div class="paging">
                      			<a href="" class="prev">이전</a>
                      			<strong>1</strong>
                      			<a href=""> 2</a>
                      			<a href=""> 3</a>
                      			<a href=""> 4</a>
                      			<a href=""> 5</a>
                      			<a href=""> 6</a>
                      			<a href=""> 7</a>
                      			<a href=""> 8</a>
                      			<a href=""> 9</a>
                      			<a href=""> 10</a>
                      			<a href="" class="next">다음</a>
                      		</div>
                        </div>
                        <div class="col-12 text-center mt-5">
                          <button type="submit" class="btn btn-flat btn-secondary">엑셀등록</button> <button type="submit" class="btn btn-flat btn-success">비속어 단어추가</button>
                        </div>
                    </div>
                    <!-- data table end -->
                </div>
            </div>
        </div>
        <!-- main content area end -->

    </div>
    <!-- page container area end -->
    <!-- jquery latest version -->
    <script src="../js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/metisMenu.min.js"></script>
    <script src="../js/jquery.slimscroll.min.js"></script>
    <script src="../js/jquery.slicknav.min.js"></script>

    <!-- others plugins -->
    <script src="../js/plugins.js"></script>
    <script src="../js/scripts.js"></script>
</body>

</html>
