<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= config.APP_NAME %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/themify-icons.css">
    <link rel="stylesheet" href="/stylesheets/metisMenu.css">
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/slicknav.min.css">
    
    <!-- style css -->
    <link rel="stylesheet" href="/stylesheets/typography.css">
    <link rel="stylesheet" href="/stylesheets/default-css.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <!-- modernizr css -->
    <script src="/javascripts/vendor/modernizr-2.8.3.min.js"></script>
    <!-- jquery latest version -->
    <script src="/javascripts/vendor/jquery-2.2.4.min.js"></script>
</head>